* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

/*body {
	background-image: url('images/bgcoding.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: fixed;
}
*/
a {
	color: #e04eb5;
	text-decoration: none;
}

/*a:hover {
	color: #e04eb5;
}*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fredoka One', cursive;
}

#header {
	/*height: 100vh;*/
	min-height: 737px;
	background-image: url(images/background.png);
	background-position: center;
	background-size: cover;
}

.container {
	margin-right: 100px;
	margin-left: 100px;
}

.logo {
	margin-top: 30px;
	width: 180px;
}

.header-text {
	max-width: 350px;
	margin-top: 140px;
}

.header-text h1 {
	font-size: 34px;
}

.square {
	height: 12px;
	width: 12px;
	display: inline-block;
	background: #e04eb5;
	margin: 15px 0;
}

.common-btn {
	padding: 18px 40px;
	background: transparent;
	outline: none;
	border: 2px solid #e04eb5;
	font-weight: bold;
	cursor: pointer;
	font-size: 16px;
}

.common-btn-whatsapp {
	padding: 18px 40px;
	margin-left: 20px;
	background: transparent;
	outline: none;
	border: 2px solid #fff;
	font-weight: bold;
	cursor: pointer;
	font-size: 16px;
	color: white;
}

p {
	font-size: 16px;
	line-height: 22px;
	color: #777;
}

.header-text button{
	margin-top: 20px;
	margin-bottom: 60px;
}

.line-1 {
	width: 15px;
	height: 15px;
	background: #e04eb5;
	display: inline-block;
}

.line-2 {
	width: 80px;
	height: 1px;
	background: #e04eb5;
	display: inline-block;
}

.line-3 {
	width: 60px;
	height: 1px;
	background: #e04eb5;
	display: inline-block;
}

.line {
	line-height: 8px;
}

#sideNav {
	width: 250px;
	height: 100vh;
	position: fixed;
	right: -250px;
	top:0;
	background: rgb(255,128,159);
	background: linear-gradient(0deg, rgba(255,128,159,1) 0%, rgba(224,78,181,1) 100%); 
	z-index: 12;
	transition: .5s
}

nav ul li {
	list-style: none;
	margin: 50px 20px;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
}

#menuBtn {
	width: 50px;
	position: fixed;
	right: 65px;
	top:35px;
	z-index: 13;
	cursor: pointer;
}

#about {
	padding: 100px 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	background-color: white;
}

.about-left-col {
	flex-basis: 50%;
}

.about-left-col img {
	width: 100%;
}

.about-right-col {
	flex-basis: 50%;
	text-align: right;
}

.about-text {
	max-width: 500px;
	margin-right: 100px;
	display: inline-block;
}

.about-text h1 {
	font-size: 28px;
}

#features {
	padding-top:50px;
	padding-bottom: 50px;
	background-color: white;
}

#features h1 {
	text-align: center;
	margin-bottom: 30px;
	font-size: 28px;
}

.feature-row {
	width: 80%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.feature-col {
	flex-basis: 25%;
	text-align: center;
}

.feature-col img {
	width: 100px;
}

.feature-col h4 {
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: 400;
}

#contact {
	padding-top: 50px;
	background-color: white;
	padding-bottom: 50px;
}

.contact-row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.contact-left-col, .contact-right-col {
	flex-basis: 50%;
}

.contact-right-col img {
	width: 100%;
}

form {
	max-width: 350px;
	margin: 30px 0;
}

form input, form textarea {
	width: 100%;
	padding: 15px 12px;
	margin-bottom: 5px;
	outline: none;
	box-shadow: none;
	box-sizing: border-box;
	border: 2px solid #e04eb5;
}

.btn-box {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.btn-box button {
	flex-basis: 50%;
	padding: 18px 0;
	margin-left: auto;
}

#footer {
	padding: 50px 0 30px;
	background-color: white;
}

hr {
	width: 100%;
	border: 0;
	border-top: 1px solid #e04eb5; 
}

.footer-row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.footer-col {
	margin-top: 30px;
	text-align: center;
	width: 100%;
}


.footer-credit {
	text-align: center;
}

.social-icons {
	width: 50px;
	position: fixed;
	top:50%;
	left:0;
	transform: translateY(-50%);
	z-index: 1;
}

.social-icons img {
	display: block;
	width: 20px;
	margin:0 auto 20px;
	cursor: pointer;
}

#ourteam {
	padding-top:50px;
	background-color: white;
	/*padding-bottom: 50px;*/
	/*background-color: gold;*/
	min-height: 100vh;
}

#ourteam h1 {
	text-align: center;
	margin-bottom: 50px;
	font-size: 28px;
}

.container-team {
	max-width: 1170px;
	margin: auto;
}

.row-team {
	display: flex;
	flex-wrap: wrap;
}

.team-items {
	flex-basis: 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.team-items .item {
	flex-basis: calc(25% - 30px);
	max-width: calc(25% - 30px);
	transition: all .5s ease;
	margin-bottom: 50px;
}

.team-items .item img {
	width: 100%;
	display: block;
	border-radius: 8px;
}

.team-items .item .inner {
	position: relative;
	z-index: 11;
	padding: 0 15px;
}

.team-items .item .inner .info{
	border-radius: 10px;
	background: rgb(255,128,159);
	background: linear-gradient(0deg, rgba(255,128,159,1) 0%, rgba(224,78,181,1) 100%); 
	text-align: center;
	padding: 20px 15px;
	transition: all .5s ease;
	margin-top: -40px;
}

.team-items .item:hover .info{
	transform: translateY(-20px);
}

.team-items .item:hover {
	transform: translateY(-10px);
}

.team-items .item .inner .info h5{
	margin: 0;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

.team-items .item .inner .info p{
	font-size: 14px;
	font-weight: 400;
	color: #f6f6f6;
	margin: 10px 0 0;
}


.team-items .item .inner .info .sosial-links {
	padding-top: 15px;
}
.team-items .item .inner .info .sosial-links a{
	display: inline-block;
	height: 32px;
	width: 32px;
	background-color: #fff;
	color: #01c0f9;
	border-radius: 50%;
	margin: 0 2px;
	text-align: center;
	line-height: 32px;
	font-size: 16px;
	transition: all .5s ease;
}

.team-items .item .inner .info .sosial-links a:hover{
	box-shadow: 0 0 10px #ddd;
}

#projectkami {
	padding-top:50px;
	padding-bottom: 10px;
	background-color: #e6e6e6;
	/*background-image: url(images/backgroundproject.png);
	background-position: center;
	background-size: cover;*/
	min-height: 100vh;
}

#projectkami h1 {
	text-align: center;
	margin-bottom: 50px;
	font-size: 28px;
}

.container-project {
	max-width: 1170px;
	margin: auto;
	padding: 0 30px;
	/*background-color: red;*/
}

.image-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 1.5rem;
	grid-template-areas: 
	'img-1 img-1 img-2'
	'img-3 img-4 img-4';
}

.image-gallery img{
	width: 100%;
	height: 250px;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	justify-content: center;
	align-items: center;
	display: flex;
}

.image-gallery a {

	transition: all .5s ease;
}

.image-gallery a:hover{
	/*background-color: yellow;*/
	box-shadow: 5px 10px 20px #eee;
}


.img-1 {
	grid-area: img-1;
	min-height: 500px;
	background: rgb(255,128,159);
	background: linear-gradient(-45deg, rgba(255,128,159,1) 0%, rgba(224,78,181,1) 100%); 
}

.img-2 {
	grid-area: img-2;
	min-height: 500px;
	background-color: #f49eb7;
}

.img-3 {
	grid-area: img-3;
	min-height: 500px;
	background-color: #f49eb7;
}
.img-4 {
	grid-area: img-4;
	min-height: 500px;
	background: rgb(255,128,159);
	background: linear-gradient(-45deg, rgba(255,128,159,1) 0%, rgba(224,78,181,1) 100%); 
}

.project-btn {
	margin: 80px auto;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.project-btn .line{
	text-align: right;
	display: inline-block;
	margin-right: 25px;
}

#whatsapp-info {
	padding-top:50px;
	padding-bottom: 50px;
	/*background-color: rgba(244,158,183,0.5);*/
	background-image: url('images/backgroundwhatsapp.png');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.whatsapp-info-row {
	height: 150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.whatsapp-info-row h1 {
	font-family: 'Roboto', sans-serif;
}
@media only screen and (max-width: 770px){
	#header {
		background-image: none;
	}

	.container {
		margin-right: 50px;
		margin-left: 50px; 
	}

	.logo {
		margin-top: 27px;
		width: 120px;
	}

	.header-text {
		margin-top: 100px;
	}

	.header-text h1 {
		font-size: 25px;
	}

	#menuBtn {
		width: 40px;
		right: 65px;
	}

	.common-btn {
		padding: 10px 16px;
		font-size: 14px;
	}

	.common-btn-whatsapp {
		margin-top: 10px;
		padding: 10px 16px;
		font-size: 14px;
		margin-left:0px;
	}

	.whatsapp-info-row {
		text-align: center;
	}
	.social-icons img {
		width: 14px;
		margin: 15px auto;
	}

	.about-left-col, .about-right-col {
		flex-basis: 100%;
	}

	.about-text {
		margin:50px 50px 0;
		display: inline-block;
	}

	.about-text p {
		text-align: justify;
	}

	.about-text h2 {
		font-size: 18px;
	}

	.feature-col {
		flex-basis: 100%;
		margin-bottom: 20px;
	}

	.contact-left-col, .contact-right-col {
		flex-basis: 100%;
	}

	.contact-right-col {
		margin-top: 50px;
	}

	#ourteam { 
		padding-left: 35px;
		padding-right: 35px;
	}
	.team-items .item {
		flex-basis: calc(80%);
		max-width: calc(80%);
	}

	.container-project {
		padding-left: 50px;
		padding-right: 50px;
	}

	.image-gallery {
		grid-template-areas: 
		'img-1 img-1 img-1'
		'img-2 img-2 img-2'
		'img-4 img-4 img-4'
		'img-3 img-3 img-3'
		;
	}

	.image-gallery a {
		height: 250px;
		/*background-color: pink;*/
	}

	.img-1, .img-5 {
		min-height: 500px;
	}

}
